<mat-card>
  <mat-card-content>
    <div class="d-flex justify-content-between">
      <span>
        <app-task-stats [tasks]="tasks"></app-task-stats>
      </span>
      <span>
        <button mat-icon-button matTooltip="Add" [matTooltipPosition]="'above'">
          <mat-icon aria-label="Add" (click)="goToAddPage()">add</mat-icon>
        </button>
      </span>
    </div>
    <mat-tab-group>
      <mat-tab label="Tab 1">
        <div class="demo-tab-content">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="taskId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.taskId}} </td>
              </ng-container>

               <!-- Title Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let row"> {{row.title}} </td>
              </ng-container>

              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
              </ng-container>
          
              <!-- Created Column -->
              <ng-container matColumnDef="createdDateTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created</th>
                <td mat-cell *matCellDef="let row"> {{row.createdDateTime | timeAgo}} </td>
              </ng-container>

              <!-- Time Taken Column -->
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Lapsed </th>
                <td mat-cell *matCellDef="let row"> {{row.time | timeDuration}} </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let row"> 
                  
                  <button *ngIf="row.status == 'Paused'" mat-icon-button matTooltip="Start" [matTooltipPosition]="'above'">
                    <mat-icon aria-label="Edit" (click)="startTask(row.taskId)">play_circle_filled_white</mat-icon>
                  </button>

                  <button *ngIf="row.status == 'Started'" mat-icon-button matTooltip="Pause" [matTooltipPosition]="'above'">
                    <mat-icon aria-label="Edit" (click)="pauseTask(row.taskId)">pause_circle_filled</mat-icon>
                  </button>

                  <button mat-icon-button matTooltip="Edit" [matTooltipPosition]="'above'">
                    <mat-icon aria-label="Edit" (click)="goToEditPage(row.taskId)">edit</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Delete" [matTooltipPosition]="'above'">
                    <mat-icon aria-label="Delete" (click)="deleteTask(row.taskId)">delete</mat-icon>
                  </button>
                  
                  <button *ngIf="row.status != 'Closed'" mat-icon-button matTooltip="End Task" [matTooltipPosition]="'above'">
                    <mat-icon aria-label="Delete" (click)="closeTask(row.taskId)">power_settings_new</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Tab 1">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>
    </mat-tab-group>
        
  </mat-card-content>
</mat-card>
